.main-image img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.thumbnail-container {
  gap: 10px;
}

.thumbnail {
  width: 60px;
  height: auto;
  cursor: pointer;
  margin: 1rem;
  border-radius: 5px;
  transition: transform 0.2s, border 0.2s;
}

.thumbnail:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
  background-color: white;
  opacity: 0.8;
}

.thumbnail.active {
  border-bottom: 3px solid #615FFF;
  transform: scale(1.2);
}
.battlesuit-card.selected {
  border-left: 4px solid #615FFF;
  background-image: linear-gradient(-90deg, transparent, transparent, transparent, #615FFF);
}

.battlesuit-card {
  cursor: pointer;
}

.battlesuit-card:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.2s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
