@import "tailwindcss";
@font-face {
  font-family: "Lexend";
  src: url(./assets/fonts/Lexend/Lexend-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Raleway";
  src: url(./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Raleway-Italic";
  src: url(./assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: white;
  /* background-color: #242424; */
  /* background-color: #28141f; */
  background-color: linear-gradient(135deg, #28141f 0%, #030712 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}